:root {
  --swiper-pagination-color: red;
  --swiper-pagination-bullet-horizontal-gap: 12px;
  --swiper-pagination-bullet-inactive-color: grey;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-navigation-color: red;
}

.events-root-container {
  background-color: var(--dark-mode-background-light-1);
  color: var(--dark-mode-color);
}

.events-header {
  font-family: "Nico Moji", cursive;
}

.slider-list-element {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@supports (-moz-appearance: none) {
  .swiper-wrapper {
    display: flex;
  }
  .swiper-slide {
    display: table;
  }
}
